#ignore files
ubuntu-miner.zip
miner.log
bitcoinpay-miner
bitcoinpay-miner.exe
re
bitcoinpay.conf
CA.cert
go.sum
start.sh
lib/cuckoo/target
lib/cuckoo/target
cuckatoo/cuckatoo
main
lib/libcuckoo.dylib
lib/cuckoo/Cargo.lock
lib/libcuckoo.a
solo.conf
pool.conf

libcuckoo.dylib
./symbols/bitcoinpay/libcuckoo.dylib
.idea/
mac-miner
win-miner.exe
libOpenCL.zip
linux-miner
lib/opencl/*
.DS_Store
*.zip
*.tar.gz
*_checksum.txt
